@layer components {
  .iccc-accordion {
    /* spacing */
    @apply iccc-my-2 iccc-mx-0;
    /* border */
    @apply iccc-rounded-large;
    /* position */
    @apply iccc-relative;
    /* transitions */
    @apply iccc-ease-energetic iccc-duration-2;

    background: var(--color--background);
    color: var(--color--ink-on-background);
    box-shadow: var(--shadow--container-0);
  }

  details.iccc-accordion[open] {
    /* spacing */
    @apply iccc-my-2 iccc-mx-0;

    box-shadow: var(--shadow--container-1);

    & .iccc-accordion-summary-content-icon-wrapper {
      /* flexbox */
      @apply iccc-flex;
      /* typography */
      @apply iccc-text-5;

      rotate: 180deg;
    }
  }

  .iccc-accordion-summary {
    /* sizing */
    @apply iccc-min-h-0 iccc-w-full;
    /* flexbox */
    @apply iccc-flex iccc-items-center iccc-justify-center;
    /* interactivity */
    @apply iccc-cursor-pointer iccc-select-none;
    /* typography */
    @apply iccc-align-middle iccc-no-underline;
    /* borders */
    @apply iccc-border-0 iccc-rounded-none;
    /* spacing */
    @apply iccc-m-0 iccc-py-6 iccc-pr-5 iccc-pl-6;
    /* position */
    @apply iccc-relative;
    /* layout */
    @apply iccc-box-border;
    /* transitions */
    @apply iccc-ease-smooth iccc-duration-3;

    background: initial;
    z-index: 1;
    color: inherit;
    outline: none;

    &::-webkit-details-marker {
      /* display */
      @apply iccc-hidden;
    }
    &:hover:not(:active)::before {
      /* effects */
      @apply iccc-opacity-opaque;
    }
    &:active::after {
      /* effects */
      @apply iccc-opacity-opaque;
    }
    &::before,
    &::after {
      /* position */
      @apply iccc-absolute;
      /* layout */
      @apply iccc-top-0 iccc-right-0 iccc-bottom-0 iccc-left-0;
      /* effects */
      @apply iccc-opacity-transparent;
      /* borders */
      @apply iccc-rounded-large;
      /* transitions */
      @apply iccc-ease-energetic iccc-duration-2;

      content: "";
      z-index: -1;
    }
    &::before {
      background: linear-gradient(
        270deg,
        rgba(128, 128, 255, 0.2) 0%,
        rgba(128, 128, 255, 0) 100%
      );
    }
    &::after {
      background: linear-gradient(
        270deg,
        rgba(43, 194, 117, 0.15) 0%,
        rgba(43, 194, 117, 0) 100%
      );
    }
    &:focus {
      /* borders */
      @apply iccc-rounded-large;
    }
    &:focus-visible {
      box-shadow: var(--shadow--focus-ring-thin);
    }
  }

  .iccc-accordion-summary-content {
    /* spacing */
    @apply iccc-m-0;
    /* flexbox */
    @apply iccc-flex iccc-flex-grow;

    transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .iccc-accordion-summary-content-icon-wrapper {
    /* flexbox */
    @apply iccc-flex;
    /* typography */
    @apply iccc-text-5;

    rotate: 0deg;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .iccc-accordion-details {
    /* flexbox */
    @apply iccc-flex iccc-flex-col;
    /* sizing */
    @apply iccc-w-full;
    /* spacing */
    @apply iccc-px-6 iccc-pt-0 iccc-pb-7;

    transition: height 211ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
}
