@layer components {
  .dhig-accordion {
    /* spacing */
    @apply dhig-my-2 dhig-mx-0;
    /* border */
    @apply dhig-rounded-large;
    /* position */
    @apply dhig-relative;
    /* transitions */
    @apply dhig-ease-energetic dhig-duration-2;

    background: var(--color--background);
    color: var(--color--ink-on-background);
    box-shadow: var(--shadow--container-0);
  }

  details.dhig-accordion[open] {
    /* spacing */
    @apply dhig-my-2 dhig-mx-0;

    box-shadow: var(--shadow--container-1);

    & .dhig-accordion-summary-content-icon-wrapper {
      /* flexbox */
      @apply dhig-flex;
      /* typography */
      @apply dhig-text-5;

      rotate: 180deg;
    }
  }

  .dhig-accordion-summary {
    /* sizing */
    @apply dhig-min-h-0 dhig-w-full;
    /* flexbox */
    @apply dhig-flex dhig-items-center dhig-justify-center;
    /* interactivity */
    @apply dhig-cursor-pointer dhig-select-none;
    /* typography */
    @apply dhig-align-middle dhig-no-underline;
    /* borders */
    @apply dhig-border-0 dhig-rounded-none;
    /* spacing */
    @apply dhig-m-0 dhig-py-6 dhig-pr-5 dhig-pl-6;
    /* position */
    @apply dhig-relative;
    /* layout */
    @apply dhig-box-border;
    /* transitions */
    @apply dhig-ease-smooth dhig-duration-3;

    background: initial;
    z-index: 1;
    color: inherit;
    outline: none;

    &::-webkit-details-marker {
      /* display */
      @apply dhig-hidden;
    }
    &:hover:not(:active)::before {
      /* effects */
      @apply dhig-opacity-opaque;
    }
    &:active::after {
      /* effects */
      @apply dhig-opacity-opaque;
    }
    &::before,
    &::after {
      /* position */
      @apply dhig-absolute;
      /* layout */
      @apply dhig-top-0 dhig-right-0 dhig-bottom-0 dhig-left-0;
      /* effects */
      @apply dhig-opacity-transparent;
      /* borders */
      @apply dhig-rounded-large;
      /* transitions */
      @apply dhig-ease-energetic dhig-duration-2;

      content: "";
      z-index: -1;
    }
    &::before {
      background: linear-gradient(
        270deg,
        rgba(128, 128, 255, 0.2) 0%,
        rgba(128, 128, 255, 0) 100%
      );
    }
    &::after {
      background: linear-gradient(
        270deg,
        rgba(43, 194, 117, 0.15) 0%,
        rgba(43, 194, 117, 0) 100%
      );
    }
    &:focus {
      /* borders */
      @apply dhig-rounded-large;
    }
    &:focus-visible {
      box-shadow: var(--shadow--focus-ring-thin);
    }
  }

  .dhig-accordion-summary-content {
    /* spacing */
    @apply dhig-m-0;
    /* flexbox */
    @apply dhig-flex dhig-flex-grow;

    transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .dhig-accordion-summary-content-icon-wrapper {
    /* flexbox */
    @apply dhig-flex;
    /* typography */
    @apply dhig-text-5;

    rotate: 0deg;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .dhig-accordion-details {
    /* flexbox */
    @apply dhig-flex dhig-flex-col;
    /* sizing */
    @apply dhig-w-full;
    /* spacing */
    @apply dhig-px-6 dhig-pt-0 dhig-pb-7;

    transition: height 211ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
}
