@layer components {
  .iccc-button {
    /* flexbox */
    @apply iccc-inline-flex iccc-items-start iccc-justify-center;
    /* position */
    @apply iccc-relative;
    /* spacings */
    @apply iccc-m-0;
    /* typography */
    @apply iccc-align-middle;
    /* borders */
    @apply iccc-rounded-medium;
    /* layout */
    @apply iccc-box-border;
    /* interactivity */
    @apply iccc-cursor-pointer iccc-select-none;

    &:hover {
      box-shadow: var(--shadow--halo-hover);
    }
    &:active,
    &:focus:active {
      box-shadow: var(--shadow--halo-pressed);
    }
    &:focus-visible {
      outline: 2px solid var(--color--ink-focus);
      outline-offset: 1px;
    }
    &:disabled {
      /* effects */
      @apply iccc-opacity-semi-transparent;
      /* interactivity */
      @apply iccc-pointer-events-none;
    }
    &-contained {
      /* borders */
      @apply iccc-border-solid iccc-border-medium;

      background: var(--color--ink-on-background);
      border-color: var(--color--ink-on-background);
      color: var(--color--background);
    }
    &-outlined {
      /* borders */
      @apply iccc-border-solid iccc-border-medium;

      color: var(--color--ink-on-background);
      border-color: var(--color--ink-on-background);
      background: transparent;
    }
    &-text {
      color: var(--color--ink-on-background);
      background: transparent;
      border-color: transparent;
    }
    &-link {
      /* flexbox */
      @apply iccc-items-center;

      color: var(--color--ink-on-background);
      border-color: transparent;

      &:hover {
        box-shadow: none;
        text-decoration: underline 0.0625em var(--color--ink-hover);
        text-underline-offset: 0.375em;
        transition: text-decoration-color theme(transitionDuration.1)
          theme(transitionTimingFunction.smooth);
        transition-property: text-decoration-line;
      }
      &:focus:active {
        box-shadow: none;
      }
      &:active {
        box-shadow: none;
        text-decoration: underline 0.0625em var(--color--ink-pressed);
        text-underline-offset: 0.375em;
        transition: text-decoration-color theme(transitionDuration.1)
          theme(transitionTimingFunction.smooth);
        transition-property: text-decoration-line;
      }
      &.iccc-disabled {
        /* effects */
        @apply iccc-opacity-semi-transparent;
        /* interactivity */
        @apply iccc-pointer-events-none;
      }
      & .iccc-button-icon-start {
        /* spacing */
        @apply iccc-mr-1 iccc-ml-0;
      }
      & .iccc-button-icon-end {
        /* spacing */
        @apply iccc-mr-1 iccc-ml-0;
      }
    }
    &-icon {
      /* flexbox */
      @apply iccc-flex;
      & svg {
        /* spacing */
        @apply iccc-h-5 iccc-w-5;

        color: inherit;
      }
    }
    &-icon-start {
      /* spacing */
      @apply iccc-mr-2;

      margin-left: -4px;
    }
    &-icon-end {
      /* spacing */
      @apply iccc-ml-2;
      /* typography */
      @apply iccc-text-right;

      margin-right: -4px;
    }
    &-medium {
      /* spacing */
      @apply iccc-px-5;
      /* typography */
      @apply iccc-leading-compact;

      min-width: 80px;
      padding-top: 9px;
      padding-bottom: 9px;
      &.iccc-button-link {
        /* spacing */
        @apply iccc-py-1 iccc-px-0;
      }
    }
    &-small {
      /* spacing */
      @apply iccc-px-3;

      min-width: 64px;
      padding-top: 5px;
      padding-bottom: 5px;
      line-height: 20px;
      &.iccc-button-link {
        /* spacing */
        @apply iccc-py-1 iccc-px-0;
      }
    }
  }
}
