@layer components {
  .dhig-button {
    /* flexbox */
    @apply dhig-inline-flex dhig-items-start dhig-justify-center;
    /* position */
    @apply dhig-relative;
    /* spacings */
    @apply dhig-m-0;
    /* typography */
    @apply dhig-align-middle;
    /* borders */
    @apply dhig-rounded-medium;
    /* layout */
    @apply dhig-box-border;
    /* interactivity */
    @apply dhig-cursor-pointer dhig-select-none;

    &:hover {
      box-shadow: var(--shadow--halo-hover);
    }
    &:active,
    &:focus:active {
      box-shadow: var(--shadow--halo-pressed);
    }
    &:focus-visible {
      outline: 2px solid var(--color--ink-focus);
      outline-offset: 1px;
    }
    &:disabled {
      /* effects */
      @apply dhig-opacity-semi-transparent;
      /* interactivity */
      @apply dhig-pointer-events-none;
    }
    &-contained {
      /* borders */
      @apply dhig-border-solid dhig-border-medium;

      background: var(--color--ink-on-background);
      border-color: var(--color--ink-on-background);
      color: var(--color--background);
    }
    &-outlined {
      /* borders */
      @apply dhig-border-solid dhig-border-medium;

      color: var(--color--ink-on-background);
      border-color: var(--color--ink-on-background);
      background: transparent;
    }
    &-text {
      color: var(--color--ink-on-background);
      background: transparent;
      border-color: transparent;
    }
    &-link {
      /* flexbox */
      @apply dhig-items-center;

      color: var(--color--ink-on-background);
      border-color: transparent;

      &:hover {
        box-shadow: none;
        text-decoration: underline 0.0625em var(--color--ink-hover);
        text-underline-offset: 0.375em;
        transition: text-decoration-color theme(transitionDuration.1)
          theme(transitionTimingFunction.smooth);
        transition-property: text-decoration-line;
      }
      &:focus:active {
        box-shadow: none;
      }
      &:active {
        box-shadow: none;
        text-decoration: underline 0.0625em var(--color--ink-pressed);
        text-underline-offset: 0.375em;
        transition: text-decoration-color theme(transitionDuration.1)
          theme(transitionTimingFunction.smooth);
        transition-property: text-decoration-line;
      }
      &.dhig-disabled {
        /* effects */
        @apply dhig-opacity-semi-transparent;
        /* interactivity */
        @apply dhig-pointer-events-none;
      }
      & .dhig-button-icon-start {
        /* spacing */
        @apply dhig-mr-1 dhig-ml-0;
      }
      & .dhig-button-icon-end {
        /* spacing */
        @apply dhig-mr-1 dhig-ml-0;
      }
    }
    &-icon {
      /* flexbox */
      @apply dhig-flex;
      & svg {
        /* spacing */
        @apply dhig-h-5 dhig-w-5;

        color: inherit;
      }
    }
    &-icon-start {
      /* spacing */
      @apply dhig-mr-2;

      margin-left: -4px;
    }
    &-icon-end {
      /* spacing */
      @apply dhig-ml-2;
      /* typography */
      @apply dhig-text-right;

      margin-right: -4px;
    }
    &-medium {
      /* spacing */
      @apply dhig-px-5;
      /* typography */
      @apply dhig-leading-compact;

      min-width: 80px;
      padding-top: 9px;
      padding-bottom: 9px;
      &.dhig-button-link {
        /* spacing */
        @apply dhig-py-1 dhig-px-0;
      }
    }
    &-small {
      /* spacing */
      @apply dhig-px-3;

      min-width: 64px;
      padding-top: 5px;
      padding-bottom: 5px;
      line-height: 20px;
      &.dhig-button-link {
        /* spacing */
        @apply dhig-py-1 dhig-px-0;
      }
    }
  }
}
