@layer components {
  .dhig-link-list {
    /* spacing */
    @apply dhig-p-0;

    > li {
      /* spacing */
      @apply dhig-p-0;

      list-style-type: none;
      box-shadow: var(--shadow--divider-0-bottom);

      > a {
        /* spacing */
        @apply dhig-py-3 dhig-px-0;
        /* flexbox */
        @apply dhig-flex;

        text-decoration: none;
        color: unset;

        &:hover {
          background: var(--gradient--hover-gradient-fill);
          box-shadow: none;
        }

        &:active {
          background: var(--gradient--pressed-gradient-fill);
        }

        &:focus-visible {
          box-shadow: var(--shadow--focus-ring-thin);
          outline: none;
        }
      }
      &:last-of-type {
        box-shadow: none;
      }
    }
    ul {
      /* spacing */
      @apply dhig-pl-3 dhig-pb-3;

      > li {
        /* spacing */
        @apply dhig-pb-2;
        /* typography */
        @apply dhig-leading-compact;

        list-style-type: "- ";
      }
    }
  }
}
