@layer components {
  .dhig-svg-icon {
    /* typography */
    @apply dhig-align-middle;
    /* layout */
    @apply dhig-inline-block;
    /* flexbox */
    @apply dhig-flex-shrink-0;
    /* interactivity */
    @apply dhig-select-none;
    /* svg */
    @apply dhig-fill-current;

    height: 1em;
    width: 1em;
    color: var(--color--ink-on-background);
  }
}
