@layer components {
  .iccc-svg-icon {
    /* typography */
    @apply iccc-align-middle;
    /* layout */
    @apply iccc-inline-block;
    /* flexbox */
    @apply iccc-flex-shrink-0;
    /* interactivity */
    @apply iccc-select-none;
    /* svg */
    @apply iccc-fill-current;

    height: 1em;
    width: 1em;
    color: var(--color--ink-on-background);
  }
}
