/*
Use map.get() to reference the values below.
*/

$dhig-borderRadii: ();

$dhig-borderWidths: ();

$dhig-colors: (
  "black": (
    "000": $primitives-colors-primary-black
  ),
  "clay": (
    "000": $primitives-colors-accent-clay,
    "600": $primitives-colors-tint-clay-600
  ),
  "gold": (
    "000": $primitives-colors-accent-gold
  ),
  "iris": (
    "000": $primitives-colors-accent-iris,
    "400": $primitives-colors-tint-iris-400
  ),
  "plant": (
    "000": $primitives-colors-accent-plant,
    "600": $primitives-colors-tint-plant-600
  ),
  "slate": (
    "100": $primitives-colors-tint-slate-100,
    "200": $primitives-colors-tint-slate-200,
    "700": $primitives-colors-tint-slate-700,
    "dark": $primitives-colors-detail-slate-dark,
    "light": $primitives-colors-detail-slate-light
  ),
  "white": (
    "000": $primitives-colors-primary-white
  )
);

$dhig-fontFamilies: (
  "default": $primitives-fontFamilies-default,
  "display": $primitives-fontFamilies-display
);

$dhig-fontSizes: (
  "1": $primitives-fontSizes-1,
  "2": $primitives-fontSizes-2,
  "3": $primitives-fontSizes-3,
  "4": $primitives-fontSizes-4,
  "5": $primitives-fontSizes-5,
  "6": $primitives-fontSizes-6,
  "7": $primitives-fontSizes-7,
  "8": $primitives-fontSizes-8,
  "9": $primitives-fontSizes-9,
  "10": $primitives-fontSizes-10
);

$dhig-fontWeights: (
  "default": $primitives-fontWeights-default,
  "stout": $primitives-fontWeights-stout,
  "emphasized": $primitives-fontWeights-emphasized,
  "display": $primitives-fontWeights-display
);

$dhig-lineHeights: (
  "default": $primitives-lineHeights-default,
  "compact": $primitives-lineHeights-compact,
  "tight": $primitives-lineHeights-tight
);

$dhig-spacings: (
  "1": $primitives-spacings-1,
  "2": $primitives-spacings-2,
  "3": $primitives-spacings-3,
  "4": $primitives-spacings-4,
  "5": $primitives-spacings-5,
  "6": $primitives-spacings-6,
  "7": $primitives-spacings-7,
  "8": $primitives-spacings-8,
  "9": $primitives-spacings-9
);
